section{
    border: 2px solid black;
}
.home{
    display: inline-block;
    border: 2px solid black;
    width: 80px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}
.about{
    display: inline-block;
    border: 2px solid black;
    width:80px ;
    text-align: center;
    margin-top:20px;
    margin-left:20px;
}
.Logo{
    display: inline-block;
    border: 2px solid black;
    width: 80px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}
.Web_sit{
    /* display: inline-block; */
    border: 2px solid black;
    /* width: 200px; */
    text-align: center;
    /* margin-top: 100px;
    margin-left: 100px;   */
}
.anji{
    display: inline-block;

}



